main p1 {
    background-color: #CCDBDC;
}

main p2 {
    background-color: #9AD1D4;
}

main p3 {
    background-color: #80CED7;
}

main p4 {
    background-color: #007EA7;
}

main p5 {
    background-color: #003249;
    color: white;
}
main p6 {
    font-family: 'Playfair Display', serif;
}

