body {
    font-weight: 200;
}

h1 {
    font-size: 2rem;
}

nav {
    background-color: rgb(116, 198, 225);
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: rgb(251, 139, 158);
    text-align: center;
    text-decoration: none;
    padding: 1rem;
}

img {
    size: 10%;
}
nav ul li a:hover {
    background-color: #fefae0;
}

footer {
    text-align: center;
}
#discover-main {
    margin: auto;
    margin-top: 3rem;
}

form label {
    display: block;
}
