@media only screen and (min-width:38rem) {
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

main h2 {
    grid-column: 1 / span 2;
}

nav ul {
    display: flex;
}

nav ul li {
    flex: 1 1 100%;
}
#discover-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.main-side {
    grid-row: 1;
    grid-column: 1/7;
}
.sidebar{
    grid-row: 1;
    grid-column: 7/10;
}